<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aawashcar.omsservice.mappers.PointTransactionMapper">
	<resultMap id="pointTransactionResultMap"
		type="com.aawashcar.omsservice.entities.PointTransaction">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="amount" property="amount" />
		<result column="order_id" property="orderId" />
		<result column="created_time" property="createdTime" />
		<result column="enabled" property="enabled" />
	</resultMap>

	<insert id="addPointTransaction"
		parameterType="com.aawashcar.omsservice.entities.PointTransaction">
		insert into
		oms_point_transaction 
		(user_id, amount, order_id) 
		values
		(#{userId}, #{amount}, #{orderId})
	</insert>

	<select id="listPointTransactions" resultMap="pointTransactionResultMap"
		resultType="map">
		select id, user_id, amount, order_id, created_time, enabled from 
		oms_point_transaction where enabled=1
	</select>

	<update id="disablePointTransactionById">
		update oms_point_transaction set enabled=0 where id=#{id}
	</update>
</mapper>