<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aawashcar.omsservice.mappers.PromotionTransactionMapper">
	<resultMap id="promotionTransactionResultMap"
		type="com.aawashcar.omsservice.entities.PromotionTransaction">
		<id column="id" property="id" />
		<result column="promotion_id" property="promotionId" />
		<result column="price" property="price" />
		<result column="user_id" property="userId" />
		<result column="created_time" property="createdTime" />
		<result column="enabled" property="enabled" />
	</resultMap>

	<insert id="addPromotionTransaction"
		parameterType="com.aawashcar.omsservice.entities.PromotionTransaction">
		insert into
		oms_promotion_transaction 
		(promotion_id, price, user_id) 
		values
		(#{promotionId}, #{price}, #{userId})
	</insert>

	<select id="listPromotionTransactions" resultMap="promotionTransactionResultMap"
		resultType="map">
		select id, promotion_id, price, user_id, created_time, enabled from 
		oms_promotion_transaction where enabled=1
	</select>

	<update id="disablePromotionTransactionById">
		update oms_promotion_transaction set enabled=0 where id=#{id}
	</update>
</mapper>